page-home {
  background-color: #000000;
}

.rHealth {
  height: 47.5%
}

.lHealth {
  height: 47.5%;
}

.textCenter {
  text-align: center;
}
.player-one {
    background-color:green;
}
.player-two {
    background-color:blue;
}