<ion-header>
  <ion-navbar>
    <ion-title>
      Things
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-card class="lHealth">
<ion-content>
 <ion-list>
   <ion-item id="lItem{{i}}" class="textCenter" *ngFor="let i of lItems">{{i}}</ion-item>
 </ion-list>

 <ion-infinite-scroll (ionInfinite)="doLInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
</ion-card>

<ion-card class="rHealth">
<ion-content>
 <ion-list>
   <ion-item id="rItem{{i}}" class="textCenter" *ngFor="let i of rItems">{{i}}</ion-item>
 </ion-list>

 <ion-infinite-scroll (ionInfinite)="doRInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
</ion-card>
</ion-content>

